/* basic */


*, html, body {
  box-sizing: border-box;
}


html, body {
  font-family: sans-serif;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, p {
font-weight: normal;
font-size: 100%;
margin: 0;
bottom: 0;
}



/* spacing and gaps */

.island {
	padding: 1rem;
}

.island-l {
	padding: 2rem;
}

.island-s {
	padding: .5rem;
}

.gap {
  margin-bottom: 2rem;
}

.gap-l {
  margin-bottom: 4rem;
}

.gap-s {
  margin-bottom: 1rem;
}

.panel {
background-color: $c-layout-1;
border-radius: 5px;
border: 1px solid $c-layout-2;
}



.bg-white {
  background-color: white;  
}

.bg-black {
  background-color: black;  
}

.bg-grey {
  background-color: $c-layout-2;  
}


/* typography */

.s {
  font-size: .8em;
}

.l {
  font-size: 1.25em;
  line-height: 1.25em;
}

.xl {
  font-size: 1.5em;
  line-height: 1.1em
}

.i {
  font-style: italic;
}

.b {
  font-weight: bold;
}

.grey {
  color: $c-layout-3;
}

.white {
  color: white;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}



/* flexbox */

.flexbox {
  display: -webkit-flex;

  div {
  flex: 1;
  }

  .flex-1 {
  flex: 1;
  }

  .flex-2 {
  flex: 2;
  }

  .flex-3 {
  flex: 3;
  }

  .flex-4 {
  flex: 4;
  }

  .flex-5 {
  flex: 5;
  }

  .flex-6 {
  flex: 6;
  }

  .flex-7 {
  flex: 7;
  }

  .flex-8 {
  flex: 8;
  }

  .flex-9 {
  flex: 9;
  }
}



.hide {
  display: none;
}

.ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/* buttons */

.button {
  @extend .ellipsis;

  display: inline-block;
  background-color: $c-layout-2;
  border: 1px solid $c-layout-3;
  border-radius: 4px;
  padding: .8rem 1rem;
  
  color: inherit;
  
  &:hover {
  color: inherit;
  text-decoration: none;
  }
}

.button-s {
  @extend .button;
  padding: .4rem 1rem;
  font-size: .85em;
}

.button-cta {
  @extend .button;
  background-color: $c-layout-5;
  color: white;
  border-color: #000;
  font-weight: bold;
  &:hover {
  color: white;
  }
}

.button-cta-s {
  @extend .button-s;
  background-color: $c-layout-5;
  color: white;
  border-color: #000;
  font-weight: bold;
  &:hover {
  color: white;
  }
}

.block {
  display: block;
  width: 100%;
}


/* shadow */

.shadow {
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
}

/* lines */

.line {
  border-bottom: 1px solid $c-layout-2;
}





